.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* separated colum (right and left)*/
.split {
  display: table;
  width: 100%;
}
.split-item {
  display: table-cell;
  padding: 20px;
  height: 100%;
}
.form {
  position: fixed;
  width: 40%;
  text-align: left;
  border-right: 10px red;
}

/* inside Form*/
.form-container {
  width: 100%;
}

.name {
  margin-top: 10px;
}

.address {
  margin-top: 30px;
}

.gender {
  margin-top: 30px;
}

.career {
  margin-bottom: 20px;
}
.career1 {
  margin-top: 30px;
}

.career2 {
  margin-top: 30px;
}
.template {
  margin-top: 30px;
}
#save-btn {
  margin: 40px;
}

label {
  margin: 5px;
}
