.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* separated colum (right and left)*/
.split {
  display: table;
  width: 100%;
}
.split-item {
  display: table-cell;
  padding: 20px;
  height: 100vh;
}
.form {
  position: relative;
  width: 50%;
  text-align: left;
  background-color: powderblue;
}

.resume-view {
  background-color: white;
}
/* inside Form*/
.form-container {
  width: 100%;
}

.form-name {
  margin-top: 10px;
}

.form-address {
  margin-top: 30px;
}

.form-gender {
  margin-top: 30px;
}

.form-career {
  margin-bottom: 20px;
}
.form-career1 {
  margin-top: 30px;
}

.form-career2 {
  margin-top: 30px;
}

#temp1 {
  position: relative;
  text-align: left;
  font-size: 20px;
  border: 1px solid #000;
  display: block;
  height: 85%;
  padding: 20px;
}
#temp2 {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: 20px;
  border: 1px solid #000;
  display: block;
  height: 90%;
}
.temp2-title {
  font-size: 25px;
  font-weight: bold;
  display: inline;
  margin: 10px;
}

#name-content {
  display: inline;
  font-size: 25px;
}
#gender-content {
  display: inline;
}
#gender-content {
  display: inline;
}

#career1-content {
  display: inline;
}
#career2-content {
  display: inline;
}
.photo {
  width: 23%;
  background: gray;
  height: 170px;
  text-align: center;
  position: absolute;
  right: 20px;
  top: 20px;
}
.name {
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 25px;
}
.gender {
  margin-bottom: 25px;
}
.address {
  margin-bottom: 25px;
}

#career1-desc-content {
  margin-left: 10px;
}
#career2-desc-content {
  margin-left: 10px;
}
#save-btn {
  margin: 10px;
}

label {
  margin: 5px;
}

.career1 {
  margin: 20px 0;
}
.career1-desc {
  margin: 20px 0;
}
.career2 {
  margin: 20px 0;
}
.career2-desc {
  margin: 20px 0;
}
.MuiFormControl-root {
  width: 100%;
}

hr {
  text-align: left;
  margin-left: 0;
  width: 70%;
}
